<label for="phoneNumber">Phone Number</label>
<input
  mask="(___) ___-____"
  validation="\(\d{3}\) \d{3}-\d{4}"
  (maskInput)="phoneNumber($event)"
  type="text"
  id="phoneNumber"
/>
<label for="date">Date</label>
<input
  mask="__/__/____"
  validation="\d{2}\/\d{2}\/\d{4}"
  (maskInput)="date($event)"
  type="text"
  id="date"
/>
<label for="creditCard">Credit Card</label>
<input
  mask="#### #### #### ####"
  validation="\d{4} \d{4} \d{4} \d{4}"
  (maskInput)="creditCard($event)"
  type="text"
  id="creditCard"
/>
